[Unit]
Description=PgBouncer
Requires=network.target
After=network.target

[Service]
User={{ pgbouncer_run_as_user }}
Group={{ pgbouncer_run_as_group }}
TimeoutSec=10
ExecStart=/usr/local/bin/pgbouncer -q {{ pgbouncer_conf_file }}
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory={{ pgbouncer_conf_file|dirname }}

[Install]
WantedBy=multi-user.target
